.field {
  position: relative;

  &__label {
    display: flex;
    flex-direction: column;

    &-name {
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
      font-size: 14px;
      color: #8e8e8e;
      cursor: text;
      transition: 0.15s;
    }
  }

  &__input {
    padding: 10px;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    background-color: #fafafa;
    overflow: hidden;

    &:focus,
    &:valid + {
      .field__label-name {
        top: 0;
        transform: translate(0);
        font-size: 12px;
      }
    }

    &:valid {
      padding: 15px 42px 5px 10px;
    }
  }

  &__helper {
    position: absolute;
    top: 50%;
    right: 10px;
    width: 22px;
    height: 22px;
    display: block;
    transform: translateY(-50%);
    background: url(../../assets/images/sprite.png) no-repeat;
    background-size: 440px 411px;

    &--ok {
      background-position: -402px -330px;
    }

    &--error {
      background-position: -402px -353px;
    }
  }
}
